
@mixin colors {
  --color-primary: #e040fb;
  --color-secondary: #40c4ff;
  --color-text: #fff;
  --color-background: #1c1c24;
  --color-background-paper: #2c2f32cc;
  --color-border: #9999992f;
  --color-placeholder: #c5c5c5;
  --box-shadow: 0px 0px 15px 0 #ffffff57;
}
